*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.box{
    text-align: center;
    color: black;
    font-size: 20px;
    width: auto;
    height: auto;
/*    border: 2px solid black;*/
    margin: 220px auto;
    background-color: black;
}
h4{
    font-size: 30px;
    margin: 30px;
    margin-top: 15px;
    color: snow;
    
}

.mycus1{
    width: 250px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.footer{
    font-size: 15px;
    margin-bottom: 12px;
    color: snow;
}
body{
    background-color: lightcyan;
}
h3{
    color: snow;
}